In [1]:
import markov_model_attribution as mma
import pandas as pd

In [2]:
df = pd.DataFrame({'Paths':['start > cone > ctwo > cthree > conv',
                           'start > cone > null',
                           'start > ctwo > cthree > null']})

model = mma.run_model(paths=df)

In [3]:
df

                                 Paths
0  start > cone > ctwo > cthree > conv
1                  start > cone > null
2         start > ctwo > cthree > null

In [4]:
model

{'markov_conversions': {'ctwo': 0.4, 'cthree': 0.4, 'cone': 0.2},
 'last_touch_conversions': {'ctwo': 0, 'cthree': 1, 'cone': 0},
 'removal_effects': {'ctwo': 1.0, 'cthree': 1.0, 'cone': 0.5},
 'base_cvr': 0.3333333333333333,
 'transition_matrix':             ctwo  null  cthree  conv  start      cone
 ctwo    0.000000   0.0     1.0   0.0    0.0  0.000000
 null    0.000000   1.0     0.0   0.0    0.0  0.000000
 cthree  0.000000   0.5     0.0   0.5    0.0  0.000000
 conv    0.000000   0.0     0.0   1.0    0.0  0.000000
 start   0.333333   0.0     0.0   0.0    0.0  0.666667
 cone    0.500000   0.5     0.0   0.0    0.0  0.000000,
 'absorption_matrix': array([[0.5       , 0.5       ],
        [0.5       , 0.5       ],
        [0.66666667, 0.33333333],
        [0.75      , 0.25      ]])}

In [5]:
model["transition_matrix"]

            ctwo  null  cthree  conv  start      cone
ctwo    0.000000   0.0     1.0   0.0    0.0  0.000000
null    0.000000   1.0     0.0   0.0    0.0  0.000000
cthree  0.000000   0.5     0.0   0.5    0.0  0.000000
conv    0.000000   0.0     0.0   1.0    0.0  0.000000
start   0.333333   0.0     0.0   0.0    0.0  0.666667
cone    0.500000   0.5     0.0   0.0    0.0  0.000000